*
{
    scroll-behavior: smooth;

    margin: 0;
    padding: 5px;

    transition: all 0.5s;

    box-sizing: border-box;
}

.navbar li
{
    margin: 0px 5px;
}

.mmk-section-header
{
    border: 2px solid lightgray;

    padding: 10px;
    margin: 10px;

    border-radius: 20px;

    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    background-color: rgb(203, 222, 255);
}

.mmk-section-header .mmk-header-texts
{
    width: 100%;

    cursor: default;
}

.mmk-section-header .mmk-header-image
{
    border-radius: 40px;

    width: 75%;
}

.mmk-section-header .mmk-header-image:hover
{
    width: 80%;
}

.mmk-section-header .mmk-header-image-div
{
    width: 100%;

    display: flex;

    align-items: center;
    justify-content: end;

    flex-direction: row;
}

@media screen and (max-width: 855px) {
    .mmk-section-header
    {
        flex-direction: column;

        margin: 20px;
    }

    .mmk-section-header .mmk-header-image-div
    {
        justify-content: center;
    }

    .mmk-section-header .mmk-header-image
    {
        width: 95%;
    }
}

.mmk-section-about
{
    font-size: 1.5em;

    line-height: 30px;
}

.mmk-section-about .mmk-about-div
{
    border: 2px solid lightgray;

    padding: 10px;
    margin: 10px;

    border-radius: 20px;

    display: flex;
    flex-direction: row;

    justify-content: start;

    background-color: rgb(200, 251, 197);
}

.mmk-section-about .mmk-about-list
{
    list-style-type: square;
}

.mmk-section-skills
{
    font-size: 1.25em;
}

.mmk-interactive-images
{
    border-radius: 20px;
}

.mmk-interactive-images:hover
{
    border-radius: 40px;

    opacity: 0.25;
}
